@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.board {
    display: flex;
    flex-direction: column;
    margin: 5px;
    max-width: 490px;
    height: 500px;
    align-content: center;
    align-items: center;
    border: darkslategrey;
}

.topPage {
    height: 160px;
    width: 900px;
    background-color: rgb(6, 6, 7);
}

.topNav {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-family: 'Open Sans';
    color: ghostwhite;
}

.leftNav {
    width: 200px;
    background: khaki;
}

.rightNav {
    width: 210px;
    background: khaki;
}

.middlePage {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
}

.square-white {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60px;
    width: 60px;
    color: ghostwhite;
}

.square-black {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60px;
    width: 60px;
    color: grey;
    background-color: gray;
}

.piece {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: black;
}

.btn-submit {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: solid transparent;
    background-color: blue;
    color: white;
}